:root {
    --primary-color: #ff5733; /* Nova cor primary */
    --primary-color-text: #ffffff; /* Cor do texto em botões primários */
    --primary-50: #feeceb;
    --primary-100: #fdcec9;
    --primary-200: #faada5;
    --primary-300: #f88b81;
    --primary-400: #f56c61;
    --primary-500: #ff5733; /* Tom principal */
    --primary-600: #d6472c;
    --primary-700: #ad3924;
    --primary-800: #84291c;
    --primary-900: #5a1a13;
}